@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat+Alternates:wght@400;800&family=Tulpen+One&display=swap");

* {
  font-family: "Montserrat Alternates", sans-serif;
}

#detail {
  background: rgb(255, 249, 196);
}

#logo {
  font-family: "Tulpen One", cursive;
}

.list_item {
  font-family: "Caveat", cursive;
}
